{% extends 'bootstrap/base.html' %}

{% block title %}
  Mortgage Calculator
{% endblock title %}

{% block metas %}
  {{ super() }}
  <meta charset="utf-8">
  <meta charset="description" content="Penghitungan pembayaran cicilan rumah perbulan dan total pembayarannya">
  <meta charset="keywords" content="cicilan, pembayaran, bayar, dp, rumah, kalkulator, calculator, mortgage">
{% endblock %}

{% block styles %}
  {{ super() }}
{% endblock styles %}

{% block scripts %}
  {{ super() }}
{% endblock scripts %}
